<div class='new-question-content'>
  <div class='guidelines'>
    <h2 class='guideline-title'>Welcome!</h2>
    <hr class='gradiant-hr'>
    <div class='guideline'>
        <p class='guideline-body'>
          Brainstorm is a collaborative space that encourages curiosity, values feedback,
          and provides insight into our collective expertise in an organized and engaging way.
          When submitting a question or answer, there are a few tips that will help to
          provide a great experience for everyone.
        </p>
    </div>
    <div class='guideline'>
      <h3 class='guideline-title'>Investigate First, Inquire Second</h3>
        <p class='guideline-body'>
          Do you have a question you're dying to ask? That's great, just make sure someone else
          hasn't already asked it first!  Keeping duplicate questions to a minimum helps to
          consolidate knowledge into one easy to find place.
        </p>
    </div>
    <div class='guideline'>
      <h3 class='guideline-title'>Questions Are Anonymous, Answers Are Not</h3>
        <p class='guideline-body'>
          There's no such thing as a dumb question! But just in case you're still apprehensive,
          Brainstorm will keep your curiosity anonymous.  However, you should feel proud about
          helping others learn, so we will proudly display your user name and title for each answer!
        </p>
    </div>
    <div class='guideline'>
      <h3 class='guideline-title'>Rules and Other Boring Stuff</h3>
        <p class='guideline-body'>
          Organization is key, so please try to keep departmental questions and answers on track! Also,
          please keep all questions and answers respectful, professional, and helpful!
        </p>
    </div>
  </div>

  <div class='content-form'>
    <h2 class='form-title'>Ask A Question</h2>
    <hr class='gradiant-hr'>
    <%= form_for [@question], method: :post do |question| %>
      <%= question.hidden_field :user_id, value: current_user.id %>

      <div class='form-group'>
        <%= question.text_field :title, class: 'form-control new-question', placeholder: "Question Title", required: true %>
      </div>

      <div class='form-group'>
        <%= question.text_area :body, class: 'form-control new-question', rows: 3, placeholder: "Question Body", required: true %>
      </div>

      <div class='form-group new-question-buttons', id='new-question-form'>
        <%= question.fields_for :tags do |tag_fields| %>
          <%= tag_fields.label :name, "Enter Tags: " %>
          <%= tag_fields.text_field :name, class: 'form-control new-tag', placeholder: "Tag Name" %>
        <% end %>

        <%= question.fields_for :tags do |tag_fields| %>
          <%= tag_fields.text_field :name, class: 'form-control new-tag', placeholder: "Tag Name" %>
        <% end %>

        <%= question.fields_for :tags do |tag_fields| %>
          <%= tag_fields.text_field :name, class: 'form-control new-tag', placeholder: "Tag Name" %>
        <% end %>
      </div>

      <div class='form-group new-question-buttons'>
        <span>This Question Is For: &nbsp;</span>
        <%= question.radio_button :department, 'Development', class: 'new-question-button' %>
        <%= question.label :department, "Development", class: 'new-question-label' %>

        <%= question.radio_button :department, 'Design', class: 'new-question-button' %>
        <%= question.label :department, "Design", class: 'new-question-label' %>

        <%= question.radio_button :department, 'Project Management', class: 'new-question-button' %>
        <%= question.label :department, "Project Management", class: 'new-question-label' %>

        <%= question.radio_button :department, 'Sales', class: 'new-question-button' %>
        <%= question.label :department, "Sales", class: 'new-question-label' %>

        <%= question.radio_button :department, 'Other', class: 'new-question-button', checked: true %>
        <%= question.label :department, "Other", class: 'new-question-label' %>
      </div>

      <div class="form-group new-question-submit-buttons">
        <%= question.submit "Submit", method: :post, class: 'form-submit-button' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById("new-question-form").onkeypress = function(e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }
</script>
