<div class='guidelines'>
  <h2>Here are some guidelines for asking questions</h2>
  <p>
    Some content about the best way to use this form will go here. It
    should be brief and informative, while encouraging curiosity and
    inclusiveness.  Maybe we need do and don't examples. Some content
    about the best way to use this form will go here. It should be brief
    and informative, while encouraging curiosity and inclusiveness. Maybe
    we need do and don't examples.
  </p>
  <ul>
    <li>This is an idea</li>
    <li>Here's another one</li>
    <li>One more should do it</li>
  </ul>
</div>

<div class='new-question-form'>
  <%= form_for [Question.new], method: :post do |question| %>
    <div class='form-group'>
      <%= question.text_field :title, class: 'form-control new-question-title', placeholder: "Type your question here" %>
    </div>

    <div class='form-group'>
      <%= question.text_area :body, class: 'form-control new-question-body', rows: 6, placeholder: "Type your answer here" %>
    </div>

    <div class='form-group'>
      <%= question.radio_button :department, 'Development' %>
      <%= question.label :department, "Development" %>

      <%= question.radio_button :department, 'Design' %>
      <%= question.label :department, "Design" %>

      <%= question.radio_button :department, 'Account management' %>
      <%= question.label :department, "Account Management" %>

      <%= question.radio_button :department, 'Other' %>
      <%= question.label :department, "Other" %>

    </div>

    <div class="form-group">
      <%= question.submit "Submit", method: :post, class: 'button' %>
      <%= link_to "Cancel", '#', class: 'button', data: {confirm: 'Are you sure you want to cancel this answer?'} %>
    </div>
  <% end %>
</div>
