<div class='answer-form-top'>
  <h2><%= @question.title %></h2>
  <p><%= @question.body %></p>
</div>

<div class='answer-form-middle'>
  <% if @question.answers.empty? %>
    <h1>No Answers Yet!</h1>
  <% else %>
    <% @question.answers.each do |answer| %>
      <h5><%= answer.user.email %></h5>
      <h5><%= answer.body %></h5>
    <% end %>
  <% end %>
</div>

<%= form_for [@question, Answer.new], url: question_answers_path(@question), method: :post do |answer| %>
  <div class='form-group'>
    <%= answer.label :body %>
    <%= answer.text_field :body, class: 'form-control', placeholder: "Type your answer here" %>
  </div>
  <div class="form-group">
    <%= answer.submit "Submit", method: :post, class: 'button' %>
    <%= link_to "Schedule an Appointment", '#', class: 'button' %>
    <%= link_to "Cancel", '#', class: 'button', data: {confirm: 'Are you sure you want to cancel this answer?'} %>
  </div>
<% end %>
