<div class='answer-form-top'>
  <h2><%= @question.title %></h2>
  <p><%= @question.body %></p>
  <hr>

  <% if StarredQuestion.find_by(user_id: current_user.id, question_id: @question.id) %>
    <%= link_to 'Unstar Question', starred_question_path(@question), method: :delete, class: 'link-button' %>
  <% else %>
    <%= link_to 'Star Question', starred_questions_path(starred_question: { user_id: current_user.id, question_id: @question.id, title: @question.title, body: @question.body }), method: :post, class: 'link-button' %>
  <% end %>
  <%= button_tag "Answer Question", class: 'collapsible' %>

  <div class='answer-form-bottom'>
    <%= form_for [@question, Answer.new], url: question_answers_path(@question), method: :post do |answer| %>

      <div class='form-group'>
        <%= answer.text_area :body, class: 'form-control answer-body', rows: 5, placeholder: "Type your answer here" %>
      </div>

      <div class="form-group">
        <%= answer.submit "Submit", method: :post, class: 'button' %>
        <%= link_to "Cancel", question_path(@question), class: 'button', data: {confirm: 'Are you sure you want to cancel this answer?'} %>
      </div>
    <% end %>
  </div>
</div>

<div class='answer-form-middle'>

  <% if @question.answers.empty? %>

    <div class='answer'>
      <h1>No Answers Yet!</h1>
    </div>
  <% else %>
    <% @question.answers.each do |answer| %>
      <div class='answer'>
        <p><%= answer.body %></p>
        <p class='answer-info'><%= answer.user.full_name %>, <%= answer.user.title %></p>
        <p class='answer-info'><%= answer.created_at.strftime("%l:%M%P, %-m.%-d.%y") %></p>
      </div>
      <hr class='answer-divider'>
    <% end %>
  <% end %>
</div>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
</script>
