<% @questions.each do |question| %>

  <div class='question'>
    <div class='question-content'>
      <div class='question-text'>
        <h3><%= markdown(question.title) %></h3>
      </div>

      <div class='question-tags'>
        <% original_question(question.id).tags.each do |tag| %>
          <span class='question-tag'><%= tag.name %></span>
        <% end %>
      </div>
    </div>

    <div class='question-data'>
      <div class='question-buttons'>
        <%= link_to 'More Info', question_path(question.question_id), class: 'form-submit-button' %>
        <%= link_to 'Unsave Question', saved_question_path(question.question_id), method: :delete, class: 'form-submit-button' %>
      </div>

      <div class='question-edited-at'>
        <% if question.updated_at != question.created_at %>
          <p><%= "edited at #{question.updated_at.strftime("%l:%M%P %-m.%-d.%y")}" %></p>
        <% end %>
      </div>

      <div class='question-answered-at'>
        <p><%= "asked at #{question.created_at.strftime("%l:%M %P, %-m.%-d.%y")}" %></p>
        <p><%= "#{original_question(question.question_id).answers.count} Answers in #{question.department.to_s}" %></p>
      </div>
    </div>
  </div>
<% end %>
