<div class='full-question'>
  <div class='question-content'>
    <div class='full-question-text'>
      <h3><%= markdown(@question.title) %></h3>
    </div>

    <div class='full-question-text'>
      <p><%= markdown(@question.body) %></p>
    </div>
  </div>
</div>

<div class='full-question content-form'>
  <%= form_for @answer, url: question_answer_path(@answer.question_id, @answer.id), method: :put do |answer| %>
    <%= answer.hidden_field :user_id, value: current_user.id %>

    <h2 class='form-title'>Edit Your Answer</h2>

    <hr class='gradiant-hr'>

    <div class='form-group answer-form-body'>
      <%= answer.text_area :body, class: 'form-control answer-input', rows: 6, required: true %>
    </div>

    <div class="form-group answer-form-actions edit-form-buttons">
      <%= answer.submit "Submit", method: :post, class: 'form-submit-button' %>
      <%= link_to "Cancel", question_path(@answer.question.id), data: {confirm: 'Are you sure you want to cancel this edit?'}, class: 'form-submit-button' %>
    </div>
  <% end %>
</div>
