<!DOCTYPE html>
<html>
  <head>
    <title>Brainstorm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:400', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='sidebar'>
      <div class='sidebar-banner'>
        <h1><%= link_to 'Brainstorm', welcome_index_path, class:'sidebar-logo' %></h1>
      </div>
      <div class='sidebar-links'>
        <h3 class='sidebar-item'><%= link_to 'Ask A Question', questions_path, method: :post %></h3>
        <h3 class='sidebar-item'><%= link_to 'Design', designs_index_path %></h3>
        <h3 class='sidebar-item'><%= link_to 'Development', developments_index_path %></h3>
        <h3 class='sidebar-item'><%= link_to 'Account Management', account_managements_index_path %></h3>
        <h3 class='sidebar-item'><%= link_to 'Other', designs_index_path %></h3>
        <hr>
        <h3 class='sidebar-item'><%= link_to 'Answered', designs_index_path %></h3>
        <h3 class='sidebar-item'><%= link_to 'Starred', designs_index_path %></h3>
        <hr>
        <h3 class='sidebar-item'><%= link_to 'Guidelines', designs_index_path %></h3>
      </div>
    </div>
    <div class='body-container'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class='body-info'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
