<!DOCTYPE html>
<html>
  <head>
    <title>Brainstorm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto+Slab:400', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='body-container'>
      <% if user_signed_in? %>
        <div class='sidebar'>
          <div class='sidebar-title'>
            <h1><%= link_to 'Brainstorm', root_path, class:'sidebar-logo' %></h1>
          </div>

          <div class='sidebar-links'>
            <%= link_to 'Ask A Question', new_question_path, class: 'sidebar-item' %>

            <hr class='sidebar-hr'>

            <%= link_to 'Account Management', account_managements_path, class: 'sidebar-item' %>
            <%= link_to 'Development', developments_path, class: 'sidebar-item' %>
            <%= link_to 'Design', designs_path, class: 'sidebar-item' %>
            <%= link_to 'Other', others_path, class: 'sidebar-item' %>

            <hr class='sidebar-hr'>

            <%= link_to 'My Questions', questions_path(search: 'asked', user_id: current_user.id), class: 'sidebar-item' %>
            <%= link_to 'My Answers', answers_path(search: 'answered'), class: 'sidebar-item' %>
            <%= link_to 'Starred', starred_questions_path, class: 'sidebar-item' %>

            <hr class='sidebar-hr'>

            <%= link_to 'Edit Account', edit_user_registration_path, class: 'sidebar-item' %>
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'sidebar-item' %>
          </div>
        </div>

        <div class='body-info'>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <%= yield %>
        </div>

      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
